@using ZSZ.DTO
@model ZSZ.AdminWeb.Models.AdminUserEditGetViewModel
@{
    ViewBag.Title = "编辑用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-admin-edit">
        <div class="row cl">
            <input type="hidden" name="id" value="@Model.AdminUserDto.Id" />
            <label class="form-label col-3"><span class="c-red">*</span>管理员：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="@Model.AdminUserDto.Name" placeholder="" id="user-name" name="name" datatype="*2-16" nullmsg="用户名不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>初始密码：</label>
            <div class="formControls col-5">
                <input type="password" placeholder="不输入即不改变密码" autocomplete="off" name="password" id="newpassword" value="" class="input-text" datatype="*0-20">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-5">
                <input type="password" placeholder="确认新密码" autocomplete="off" name="password2" class="input-text Validform_error" errormsg="您两次输入的新密码不一致！" datatype="*0-20" recheck="password" id="newpassword2">
            </div>
            <div class="col-4"> </div>
        </div>
        @*<div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>性别：</label>
                <div class="formControls col-5 skin-minimal">
                    <div class="radio-box">
                        <input type="radio" id="sex-1" name="sex" datatype="*" nullmsg="请选择性别！">
                        <label for="sex-1">男</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="sex-2" name="sex">
                        <label for="sex-2">女</label>
                    </div>
                </div>
                <div class="col-4"> </div>
            </div>*@
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="@Model.AdminUserDto.PhoneNum" placeholder="" id="user-tel" name="phoneNum" datatype="m" nullmsg="手机不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" placeholder="" value="@Model.AdminUserDto.EMail" name="email" id="email" datatype="e" nullmsg="请输入邮箱！">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">角色：</label>
            <div class="formControls col-5">
                @foreach (var role in Model.RoleDtos)
                {
                    <input id="role_@role.Id" type="checkbox" name="roleIds" value="@role.Id" checked="@Model.AdminUserDto.RoleIds.Contains(role.Id)" />
                    <label for="role_@role.Id">@role.Name</label>
                }
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">城市：</label>
            <div class="formControls col-5">
                @Html.DropDownList("cityId", new SelectList(Model.CityDtos, nameof(CityDTO.Id), nameof(CityDTO.Name), Model.AdminUserDto.CityId))
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="button" id="btnEdit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
@section FooterScript
 {
    <script type="text/javascript">
        function saveAjax() {
            var formData = $("#form-admin-edit").serializeArray();
            $.ajax({
                url: "/AdminUser/Edit",
                type: "post",
                data: formData,
                dataType: "json",
                success: function (msg) {
                    if (msg.status == "ok") {
                        parent.location.reload();
                    } else {
                        alert("error:" + msg.msg);
                    }
                }, error: function () {
                    alert("网络请求失败！");
                }
            });
        }
        $(function () {
           
            var validForm = $("#form-admin-edit").Validform({ tiptype: 2 });
            $("#btnEdit").click(function() {
                if (validForm.check(false)) {
                    saveAjax();
                }
            });
        });
    </script>
}
