@using ZSZ.DTO
@model ZSZ.AdminWeb.Models.CommunitityGetViewModel

    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <form action="" method="post" id="formEdit">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>小区名称：</label>
            <div class="formControls col-5">
                <input type="hidden" name="id" value="@Model.Communitity.Id" />
                <input type="text" name="name" class="input-text" value="@Model.Communitity.Name" placeholder="" datatype="*2-16" nullmsg="小区名称不能为空" />
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>位置：</label>
            <div class="formControls col-5">
                <input type="text" name="location" class="input-text" value="@Model.Communitity.Location" placeholder="" datatype="*2-16" nullmsg="位置不能为空" />
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>交通：</label>
            <div class="formControls col-5">
                <input type="text" name="traffic" class="input-text" value="@Model.Communitity.Traffic" placeholder="" datatype="*2-16" nullmsg="交通不能为空" />
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">建造年份：</label>
            <div class="col-5">
                <input type="text" name="builtyear" class="input-text" value="@Model.Communitity.BuiltYear" placeholder="" datatype="n0-4" />
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>所属区域</label>
            <div class="formControls col-5">
                @Html.DropDownList("regionId", new SelectList(Model.Regions, nameof(RegionDTO.Id), nameof(RegionDTO.Name), Model.Communitity.RegionId))
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <input type="button" value="修改" id="btnEditCommunitity" />
        </div>
    </form>
    @section FooterScript
{
        <script type="text/javascript">
        $(function() {
            var formValid = $("#formEdit").Validform({ tiptype: 2 });
            $("#btnEditCommunitity").click(function () {
                if (formValid.check(false)) {
                    var formData = $("#formEdit").serializeArray();
                    $.ajax({
                        url: "/Communitity/Edit",
                        type: "post",
                        data: formData,
                        dataType: "json",
                        success: function(msg) {
                            if (msg.status == "ok") {
                                layer.msg('添加成功!', { icon: 1, time: 1000 });
                                window.parent.location.reload();
                            } else {
                                alert("error:" + msg.msg);
                            }
                        },
                        error: function() {
                            alert("请求失败！");
                        }
                    });
                }
            });
        });
        </script>
    }

